.error{
    text-align: center;
    padding: 3rem;
}

.title{
    color: var(--colorSecundario);
    margin: 10px;
}

.text{
    margin: 15px 0;
}

/* .button{
    background-color: var(--colorPrincipal);
    border-radius: 5px;
    border: none;
    color: var(--colorLetraSecundario);
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 90px;
} */

 @media screen and (min-width: 768px){
    .success{
        padding: 0 8rem;
    }
}
