.card-list {
  border: 1px solid #dfe4ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  margin: 15px 0;
  background-color: white;
  transition: all 0.3s ease 0s;
}

.card-list:hover {
  box-shadow: 2px 7px 7px #00000040;
}

.card-category:hover {
  box-shadow: 0px 6px 6px #00000040;
}

.card-list-img {
  border-radius: 10px;
  height: 290px;
}
.car-img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

@supports (object-fit: fill) {
  .car-img {
    height: 100%;
    object-fit: fill;
    object-position: center center;
  }
}

.card-list-content {
  color: var(--colorSecundario);
  padding: 10px;
}
.card-list-content h2,
.card-list-content p {
  padding: 15px 0;
}

.location-name {
  margin: 0 10px;
}

.info-card {
  display: block;
  width: 100%;
  background: var(--colorPrincipal);
  padding: 12px 0;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
}
.info-card:hover {
  background-color: var(--colorHover);
}

.fa-map-marker-alt {
  color: var(--colorSecundario);
  font-size: 1.2em;
}

.link-location {
  color: var(--colorPrincipal);
  font-size: 12px;
}

@media screen and (min-width: 426px) {
  .card-list {
    flex-direction: row;
  }
  .card-list-img {
    width: 50%;
  }
  .card-list-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .car-img {
    border-radius: 10px 0 0 10px;
  }
}

@media screen and (min-width: 769px) {
  .card-list {
    width: 49%;
  }
  .car-img {
    border-radius: 10px 0 0 10px;
  }
}
