.searcher {
  background-color: var(--colorSecundario);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0.3rem 0;
  position: sticky;
  top: 68px;
  z-index: 999;
}
.title {
  color: var(--colorLetraSecundario);
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  padding: 25px 10px 20px 10px;
}
.inputs-searcher {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: none;
}
.select_ciudad {
  width: 95%;
}

.select_ciudad .cities {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  margin-bottom: 8px;
  background-color: white;
  box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.12);
}

.input-date {
  width: 95%;
}

.calendar {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px 0 10px 35px;
  margin-bottom: 8px;
  box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.12);
}
.calendar::placeholder {
  color: black;
}

.button {
  background-color: var(--colorPrincipal);
  color: var(--colorFondoSecundario);
  box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.12);
  width: 95%;
  border-radius: 5px;
  border: none;
  padding: 10px 0;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
  color: var(--colorLetraSecundario);
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: var(--colorHover);
}

.select_ciudad > .fa-map-marker-alt {
  z-index: 99999;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--colorSecundario);
}

.input-date>.fa-calendar {
  z-index: 99999;
  position: absolute;
  margin-top: 11px;
  margin-left: 9px;
  color: var(--colorSecundario);
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .title {
    color: var(--colorLetraSecundario);
    font-size: 25px;
  }

  .inputs-searcher {
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .select_ciudad {
    width: 34%;
  }

  .input-date {
    width: 33%;
  }

  .button {
    width: 22%;
  }

}

@media screen and (min-width: 1366px) {
  .inputs-searcher {
    justify-content: center;
  }

  .select_ciudad {
    margin-right: 20px;
    width: 25%;
  }

  .input-date {
    width: 25%;
  }

  .calendar {
    margin-right: 10px;
    width: 95%;
  }

  .button {
    width: 15%;
  }
}
